<%
  is_active = local_assigns[:active]
%>

<%= link_to channel_path(channel), id: dom_id(channel), class: channel_classes(channel, @active_channel) do %>

  <%= channel_icon(channel) %>

  <% if channel.is_private? %>
    <%= channel_display_name(channel) %>
  <% else %>
    <%= channel.name %>
  <% end %>

  <%
     membership = channel.channel_users.find_by(user: current_user)
     if membership&.has_unread_messages? && channel != @active_channel
  %>
    <span class="ml-auto w-2 h-2 rounded-full bg-blue-500"></span>
  <% end %>

<% end %>
